body {
    background-color:black;
    display:block
}
 
div {
    
    font-family:monospace, sans-serif;
    text-align: center;
    color:white ;
    font-size: 50px;

}

p {
    font-family:monospace, sans-serif;
    text-align: center;
    color:white ;

}

.head {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;

}